@import "./../components/components.scss";

.nx-sticky.nx-bottom-0.nx-flex.nx-flex-col.nx-items-start.nx-gap-2.nx-pb-8 {
  opacity: 0;
  pointer-events: none;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  span {
    margin-bottom: 0.4rem;
  }

  .github-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #fff;
    }
  }
}

hr {
  margin-top: 2rem !important;
  height: 1px !important;
  border: none !important;
  background: hsl(
    var(--nextra-primary-hue) var(--nextra-primary-saturation) 94%/0.1
  ) !important;
}
