.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  span {
    margin-bottom: 0.4rem;
  }

  .github-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #fff;
    }
  }
}
